/* src/index.css */

/* Tailwind CSS base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for loading screen */
.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    color: #0F1012;
}

/* Custom styles for SweetAlert2 */
.custom-toast {
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-toast .swal2-title {
    color: white;
}

.custom-toast .swal2-popup {
    background: #1D1F23;
}

.custom-toast .swal2-success-ring {
    display: none;
}

/* Additional custom styles */

/* Custom Scrollbar for Settings */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1a1b1e;
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #FF6828, #E57028);
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #E57028, #FF6828);
}
